* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark-mode {
  background-color: #292c35;
  
}

/* #9b59b6 */

body.dark h1,
body.dark .support a {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}
/*  Support me if you like it */
.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}

.card {
  padding:3px;
  border: 2px solid rgb(89, 89, 89);
  width: 300px;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
}

/* From Uiverse.io by bhaveshxrawat */
.card {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  transform-style: preserve-3d;
  border-radius: 15px;
}

.card img {
  z-index: 1;
  border-radius: 10px;
}

.card::before {
  content: '';
  position: absolute;
  width: 400px;
  background-image: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  height: 120%;
  animation: rotBGimg 3s linear infinite;
  /* transition: all 1s linear; */
}

@keyframes rotBGimg {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}